* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v33_2 {
  width: 100%;
  height: 4758px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v33_3 {
  width: 100%;
  height: 100%;
  background: rgba(217,157,157,1);
  opacity: 1;
  position: absolute;
  top: 1061px;
  left: 0px;
  overflow: hidden;
}
.v33_4 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2379px;
  left: 327px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 128px;
  opacity: 1;
  text-align: left;
}
.v33_11 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1348px;
  left: 4461px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 128px;
  opacity: 1;
  text-align: center;
}
.v33_12 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1269px;
  left: 208px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 128px;
  opacity: 1;
  text-align: center;
}
.v33_13 {
  width: 100%;
  height: 100%;
  background: rgba(148,128,166,1);
  opacity: 1;
  position: absolute;
  top: 2250px;
  left: 4570px;
  overflow: hidden;
}
